<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Index</title>
        <link rel="stylesheet" href="../stylesheets/style.css">
    </head>
    <body>
        <h1>Welcome to the Gallery!</h1>
        <div>Gallery images:</div>
        <ul id="photos">
            <li><img src="https://upload.wikimedia.org/wikipedia/commons/b/ba/Bundesarchiv_Bild_102-13109%2C_Edgar_Wallace.jpg"></li>
            <li><img src="https://www.krimi-couch.de/fileadmin/user_upload/Krimi-Couch-Wallace-2.jpg"></li>
            <li><img src="https://bilder.buecher.de/produkte/46/46425/46425193z.jpg"></li>
            <li><img src="https://m.media-amazon.com/images/I/71PK64we1sL._SL1200_.jpg"></li>
            <li><img src="https://images.thalia.media/-/BF2000-2000/11c12374c33c43f88930f0be067996ca/edgar-wallace-sammelband-epub-edgar-wallace.jpeg"></li>
        </ul>
    </body>
</html>