<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Index</title>
        <link rel="stylesheet" href="../stylesheets/style.css">
    </head>
    <body>
        <h1>Welcome to the WORKS page!</h1>
        <div>These are some of the things Edgar Wallace did!</div>
        <ul>
            <li>1905 The Four Just Men (dt. Die vier Gerechten, 1927)</li>
            <li>1908 The Council Of Justice</li>
            <li>1908 Angel Esquire (dt. Der Safe mit dem Rätselschloss, 1927)</li>
            <li>1910 The Nine Bears</li>
            <li>1913 The Fourth Plague (dt. Die vierte Plage, 1933)</li>
            <li>1913 Grey Timothy</li>
            <li>1915 The Man Who Bought London (dt. Kerry kauft London, 1931)</li>
            <li>1915 The Melody of Death (dt. Die Melodie des Todes, 1932)</li>
            <li>1916 A Debt Discharged (dt. Die Schuld des Anderen, 1929)</li>
            <li>1916 The Tomb of T’Sin</li>
            <li>1917 The Just Men of Cordova (dt. Die drei von Cordova, 1929)</li>
            <li>1917 The Secret House (dt. Das geheimnisvolle Haus, 1930)</li>
            <li>1917 The Strange Lapses of Larry Loman (dt. Der Mann mit den zwei Gesichtern, 1990)</li>
            <li>1918 The Clue of the Twisted Candle (dt. Die gebogene Kerze, 1954)</li>
            <li>1918 Down Under Donovan (dt. Der Derbysieger, 1932)</li>
            <li>1919 The Green Rust (dt. Der grüne Brand, 1929)</li>
            <li>1919 Kate Plus 10 (dt. Käthe und ihre Zehn, 1928)</li>
            <li>1919 The Man Who Knew (dt. Der Mann, der alles wusste, 1932)</li>
            <li>1920 The Daffodil Mystery (dt. Das Geheimnis der gelben Narzissen, 1928)</li>
            <li>1920 Jack O’Judgment (dt. Die Todeskarte, auch als Treffbube ist Trumpf erschienen 1961)</li>
            <li>1921 The Law of the Four Just Men (auch als Again The Three Just Men erschienen; dt. Das Gesetz der Vier, 1929)</li>
            <li>1922 The Angel of Terror (dt. Der Engel des Schreckens, 1931)</li>
            <li>1922 The Crimson Circle (dt. Der rote Kreis, 1931)</li>
            <li>1922 Mr Justice Maxell (dt. Richter Maxells Verbrechen, 1929)</li>
            <li>1922 The Valley of Ghosts (dt. A.S. der Unsichtbare, 1929)</li>
            <li>1923 [The] Captain[s] of Souls (dt. Geheime Mächte, 1927; Die Seele des Anderen, 1929)</li>
            <li>1923 The Clue of the New Pin (dt. Das Geheimnis der Stecknadel, 1928)</li>
            <li>1923 The Green Archer (dt. Der grüne Bogenschütze, 1928)</li>
            <li>1923 The Missing Million, (dt. Die unheimlichen Briefe, 1961)</li>
            <li>1924 The Dark Eyes of London (dt. Die toten Augen von London, 1929)</li>
            <li>1924 Double Dan (dt. Der Doppelgänger, 1930)</li>
            <li>1924 Educated Evans (dt. Der gebildete Evans)</li>
            <li>1924 The Face in the Night (dt. Das Gesicht im Dunkel, 1932)</li>
            <li>1924 Room 13 (dt. Zimmer 13, 1929)</li>
            <li>1924 The Sinister Man (dt. Der Unheimliche, 1928)</li>
            <li>1924 The Three Oaks Mystery (dt. Bei den drei Eichen, 1930)</li>
            <li>1925 The Blue Hand (dt. Die blaue Hand, 1928)</li>
            <li>1925 The Daughters of the Night (dt. Töchter der Nacht, 1933)
            <li>1925 The Fellowship of the Frog (dt. Der Frosch mit der Maske, 1926, Übersetzung Alma Johanna Koenig)</li>
            <li>1925 The Gaunt Stranger (dt. Der Hexer) Aus diesem Roman entstand das Theaterstück The Ringer (Der Hexer). Das Stück wurde völlig überarbeitet und erschien wiederum als der neu gestaltete Roman The Ringer. Die deutsche Erstausgabe erschien nach der Neufassung.</li>
            <li>1925 A King By Night (dt. Der Unhold, 1932)</li>
            <li>1925 The Mind of Mr. J.G. Reeder (dt. Der sechste Sinn des Mr. Reeder, 1930)</li>
            <li>1925 The Strange Countess (dt. Die seltsame Gräfin, 1928)</li>
            <li>1926 The Avenger (dt. Der Rächer, 1927)</li>
            <li>1926 The Black Abbot (dt. Der schwarze Abt, 1930)</li>
            <li>1926 The Day of Uniting (dt. Der jüngste Tag, 1933)</li>
            <li>1926 The Door With Seven Locks (dt. Die Tür mit den sieben Schlössern, 1927)</li>
            <li>1926 The Joker (dt. Der Joker, 1931)</li>
            <li>1926 The Man From Morocco (dt. Der Mann von Marokko, 1928)</li>
            <li>1926 The Million Dollar Story, (dt. Die Millionengeschichte, 1935)</li>
            <li>1926 More Educated Evans</li>
            <li>1926 The Northing Tramp (dt. Nach Norden, Strolch!, 1930)</li>
            <li>1926 Penelope of the Polyantha (dt. Penelope von der „Polyantha“, 1930)</li>
            <li>1926 The Square Emerald (dt. Der viereckige Smaragd, 1929)</li>
            <li>1926 The Terrible People, (dt. Die Bande des Schreckens, 1927)</li>
            <li>1926 We Shall See! (in Geheimagent Nr. 6, 1933)</li>
            <li>1926 The Three Just Men (dt. Die drei Gerechten, 1927)</li>
            <li>1926 The Yellow Snake (dt. Die gelbe Schlange, 1928)</li>
            <li>1927 Big Foot (dt. Großfuß, 1928)</li>
            <li>1927 The Brigand (dt. Der Brigant, 1931)</li>
            <li>1927 The Feathered Serpent (dt. Gucumatz, 1928; dt. Die gefiederte Schlange, DDR 1970)</li>
            <li>1927 Flat 2 (dt. Louba, der Spieler, 1932)</li>
            <li>1927 The Forger (dt. Der Banknotenfälscher, 1930)</li>
            <li>1927 Good Evans</li>
            <li>1927 The Hand of Power (dt. Im Banne des Unheimlichen, 1931)</li>
            <li>1927 The Man Who Was Nobody (dt. Der Mann, der seinen Namen änderte, 1932)</li>
            <li>1927 The Mixer (dt. Der Preller, 1931)</li>
            <li>1927 Number Six (dt. Geheimagent Nr. 6, 1928)</li>
            <li>1927 The Squeaker (dt. Der Zinker, 1928)</li>
            <li>1927 Terror Keep (dt. John Flack, 1928)</li>
            <li>1927 The Traitor’s Gate (dt. Das Verrätertor, 1928)</li>
            <li>1928 The Double (dt. Das Steckenpferd des alten Derrick, 1931)</li>
            <li>1928 Elegant Edward</li>
            <li>1928 The Flying Squad (dt. Überfallkommando, 1930)</li>
            <li>1928 The Gunner (dt. Hands up!, 1929)</li>
            <li>1928 The Orator (dt. Der Redner, 1932)</li>
            <li>1928 The Thief in the Night (dt. Der Dieb in der Nacht, 1928)</li>
            <li>1928 The Twister (dt. Ein gerissener Kerl, 1934)</li>
            <li>1929 Again the Ringer (dt. Neues vom Hexer, 1932)</li>
            <li>1929 Again the Three Just Men = The Law Of The Three Just Men (dt. Das silberne Dreieck, 1931)</li>
            <li>1929 The Big Four, Kriminalkurzroman, in Der unheimliche Mönch</li>
            <li>1929 The Black, 8 Kriminalerzählungen</li>
            <li>1929 The Cat-Burglar, 10 Kriminalerzählungen</li>
            <li>1929 Circumstantial Evidence, 10 Kriminalerzählungen</li>
            <li>1929 Fighting Snub Reilly, 8 Kriminalerzählungen</li>
            <li>1929 For Information Received (dt. Das Juwel aus Paris, 1929)</li>
            <li>1929 Forty-Eight Short Stories, 48 Kriminalerzählungen, Sammlung</li>
            <li>1929 The Ghost of Down Hill</li>
            <li>1929 The Golden Hades (dt. Der goldene Hades, 1934)</li>
            <li>1929 The Green Ribbon 1929 (dt. Turfschwindel, 1953)</li>
            <li>1929 The India Rubber Men: Inspector John Wade, 1929 (dt. Das Gasthaus an der Themse, 1953)</li>
            <li>1929 Four Square Jane, 1929, (dt. Die Abenteuerin, 1933)</li>
            <li>1929 Red Aces (dt. Mr. Reeder weiß Bescheid, 1961)</li>
            <li>1929 The Terror (dt. Der unheimliche Mönch, 1955)</li>
            <li>1929 The Man Who Changed His Name (dt. Der Mann mit den zwei Gesichtern, 1963)</li>
            <li>1929 Sentimental Simpson (Kurzgeschichten; dt. Der sentimentale Mr. Simpson, 1976)</li>
            <li>1929 The Lone House Mystery</li>
            <li>1929 Planetoid 127, Kriminalkurzroman, in Das Juwel aus Paris</li>
            <li>1929 The Queen of Sheba’s Belt, 1929</li>
            <li>1930 The Hand of Power, 1930</li>
            <li>1930 Silinski – Master Criminal: Detective T.B. Smith, 1930</li>
            <li>1930 The Thief in the Night, 1930</li>
            <li>1930 White Face, 1930 (dt. Der Teufel von Tidal Basin, 1952)</li>
            <li>1930 The Iron Grip</li>
            <li>1930 The Clue of the Silver Key, 1930 (auch als The Silver Key erschienen; dt. Der leuchtende Schlüssel, 1953)</li>
            <li>1930 The Lady of Ascot, 1930 (dt. Die Gräfin von Ascot, 1961)</li>
            <li>1931 The Ringer Returns (Again the Ringer; dt. Neues vom Hexer, 1953)</li>
            <li>1931 The Man At The Carlton (dt. Der Mann aus dem Carlton, 1933)</li>
            <li>1931 The Coat Of Arms (auch als The Arranways Mystery erschienen; dt. Feuer im Schloß, 1960)</li>
            <li>1931 On the Spot: Violence and Murder in Chicago, 1931 (dt. In den Tod geschickt, 1958)</li>
            <li>1932 When The Gangs Came To London (dt. Gangster in London, 1956)</li>
            <li>1932 Sergeant Sir Peter, 1932 (auch als Sergeant Dunn, C.I.D. erschienen)</li>
            <li>1932 The Guv’nor / The Man Who Passed, zwei Mr.-Reeder-Kurzromane</li>
            <li>1932 The Shadow Man & The Man Who Passed, zwei Kurzromane, so nicht in der englischen Originalausgabe (dt. als Der Mann im Hintergrund, 1935)</li>
            <li>1933 The Frightened Lady (dt. Das indische Tuch, 1956)</li>
            <li>1933 The Green Pack (dt. Lotterie des Todes, 1961)</li>
            <li>1934 The Devil Man, 1931 (dt. Der Teufelsmensch, 1934)</li>
            <li>1934 Mr J. G. Reeder Returns</li>
            <li>1934 The Woman From The East</li>
            <li>1935 The Man Who Changed His Name, (Robert George Curtis) Kriminalroman (nach dem Theaterstück, dt. Der Mann, der seinen Namen änderte)</li>
            <li>1935 The Mouthpiece (E. W. & Robert George Curtis) Kriminalroman (nach dem Theaterstück)</li>
            <li>1935 Smoky Cell (Robert George Curtis) Kriminalroman (nach dem Filmskript)</li>
            <li>1936 Sanctuary Island (Robert George Curtis) Kriminalroman (nach dem Filmskript)</li>
            <li>1936 The Table (Robert George Curtis) Kriminalroman (nach dem Filmskript)</li>
        </ul>
        <div>Thanks for reading!</div>
    </body>
</html>